.container {
    width: 940px;
    margin: auto auto;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.flexContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.progressBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.progressCircle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--dark-blue-color-1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressCircle.answered {
    background: var(--gradient-color);
}

.progressCircle.active {
    background: var(--gradient-color);
}

.pointCounter {
    border-radius: 2rem;
    padding: 0.35rem 0.8rem;
    width: fit-content;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.trophyImage {
    width: 1.75rem;
}

.quizBoard {
    background-color: var(--dark-blue-color-2);
    padding: 4rem 10rem;
    border-radius: 12px;
    margin-top: 2.5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.questionCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.questionText {
    text-align: center;
    min-height: 6rem;
    line-height: 1.4;
}

.optionsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.btnOption {
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;
    width: 100%;
    border-radius: 12px;
    background-color: var(--dark-blue-color-1);
    color: var(--white-color);
    font-size: 1.15rem;
    font-weight: 500;
    padding: 1.35rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btnOption:hover {
    background: var(--gradient-color);
}

.noHoverSelected:hover {
    background: var(--gradient-color);
}

.noHoverDefault:hover {
    background: var(--dark-blue-color-1);
}

.btnOption:disabled {
    cursor: not-allowed;
}

.correctAnswer {
    background: var(--gradient-color);
}

.navigationButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.flex-end {
    justify-content: flex-end;
}

.prevButton,
.nextButton {
    background-color: var(--dark-blue-color-1);
    color: var(--white-color);
    border-radius: 12px;
}

.prevButton:focus,
.nextButton:focus {
    outline: none;
}

/* CONGRATS LEVEL */

.resultBoard {
    max-width: 400px;
    width: fit-content;
    margin: auto;
    padding: 2rem;
    background-color: var(--dark-blue-color-2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.congrasHeading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.congratsLabel {
    text-align: center;
    font-weight: 500;
}

.congrasImage {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.btnResetGame {
    margin: auto;
    padding: 1rem 4rem;
    background: var(--gradient-color);
    color: #fff;
    border-radius: 12px;
    font-size: 1.15rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
