* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

@media (max-width: 768px) {
    body {
        background-image: url('./assets/images/bg-sm.jpg');
    }
}
